@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
}

.sidebar {
    background-color: #181818;
    border-right: 1px solid #303030;
}

.sidebar-item {
    color: #f1f1f1;
    transition: background-color 0.2s ease;
}

.sidebar-item:hover {
    background-color: #303030;
}

.sidebar-item.active {
    background-color: #383838;
}

.sidebar-divider {
    border-top: 1px solid #303030;
}

.sidebar-title {
    color: #aaa;
}

.bg-secondary {
    background-color: #272727 !important;
}

.btn-outline-light {
    border-color: #3e3e3e;
    color: #ddd;
    background-color: transparent;
}

.btn-outline-light:hover {
    background-color: #3e3e3e;
    color: #fff;
}

input.form-control {
    background-color: #121212;
    border: 1px solid #333;
    color: white;
}

.ratio video {
    border: 1px solid #333;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
